<mat-toolbar color="primary">
  <div class="d-flex flex-row flex-fill justify-content-between align-items-center">

    <div>
      <button mat-stroked-button [routerLink]="'./about'" class="m-2">
        About
      </button>
      <button mat-stroked-button [routerLink]="'./upload'" class="m-2">
        Upload
      </button>
      <button mat-stroked-button [routerLink]="'./list'" class="m-2">
        Overview
      </button>
<!--      <button mat-stroked-button  (click)="openDialogMessage()"  class="m-2">-->
<!--        Open Message-->
<!--      </button>-->
<!--      <button mat-stroked-button (click)="openDialogSpinner()" class="m-2">-->
<!--        Open Spinner-->
<!--      </button>-->
    </div>

    <div>
      OCR Simple Frontend
    </div>

    <div>
      <button mat-icon-button>
        <mat-icon>translate</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>
