<div class="d-flex flex-column align-items-center ">

  <h1 class="mt-5">About this frontend application</h1>

  <div class="d-flex flex-column align-items-center mt-3">
    <div class="p-1 shadow rounded">
      <div>This application has following reasons, why it exists:</div>
      <ul>
        <li>Simple interface to work with OCR - for example desktop access, without sharing data</li>
        <li>Test interface to easily debug OCR BE</li>
        <li>Try-out application, where I can play around with angular new changes</li>
      </ul>
    </div>
  </div>



  <h2 class="mt-5">Updates Changelog</h2>
  <div class="mt-3">

  </div>

</div>
