<div class="d-flex flex-column align-items-center">
  <!--<div class="d-flex align-items-center">-->
  <div class="d-flex flex-column align-items-center shadow rounded gray mt-4 element-width-80 pt-3 pb-3">
    <mat-icon class="icon-size mb-2">cloud_upload</mat-icon>
    <div>Drag & Drop to Upload file(s)</div>
    <div class="mt-1 mb-1">OR</div>
    <!-- https://stackblitz.com/edit/angular-material-file-input-with-form-field?file=src%2Fapp%2Fapp.component.ts -->
    <button mat-icon-button matPrefix (click)="f_input.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
    <!--    <input type="file" multiple placeholder="Choose file/s" (change)="onChangedFiles($event)">-->
    <input
      type="file"
      multiple
      hidden
      #f_input
      (change)="onChangedFiles($event)"
    />
<!--    <div class="m-3"></div>-->
<!--    <button mat-stroked-button color="primary">Upload</button>-->
  </div>

  <div class="mt-5">
    <div class="mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="size">
          <mat-header-cell *matHeaderCellDef> Size</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.size }}</mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.type }}</mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.status }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        <!--      <mat-row *matNoDataRow>-->
        <!--        <mat-cell [attr.colspan]="displayedColumns.length">-->
        <!--          No files selected-->
        <!--        </mat-cell>-->
        <!--      </mat-row>-->
        <div *matNoDataRow class="text-center">No Files selected</div>
      </mat-table>
    </div>
  </div>
</div>

